@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienbenido a la base de datos de CFT</h1>
    <p>Gracias por apoyarnos.</p>

    <img src="./img/portada.jpeg" class="img-thumbnail" width="1000" height="2000">
</div>
